.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  overflow: hidden;
}

.gameboy-frame {
  position: relative;
  width: 1600px;
  height: 1200px;
  /* O background será definido inline via React usando PUBLIC_URL */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

#game-container {
  position: absolute;
  left: 48%;
  top: 50%;
  width: 690px;
  height: 460px;
  transform: translate(-50%, -50%);
  background: transparent;
  box-shadow: none;
  border: none;
  z-index: 1;
}

.start-screen {
  color: white;
  text-align: center;
}

.start-screen h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #ffd700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-screen button {
  padding: 1em 2em;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-screen button:hover {
  background-color: #45a049;
} 